
* {
    box-sizing: border-box;
    
}
.main-navbar{
    list-style: none;
   
}

.main-navbar{
    display: none;
}

.main-navbar a{
text-decoration: none;
font-size: 17px;
padding: 5px 0;
display: inline-block;
color: #222222;
}

.bg-gris-claro{
    background-color: #ebebeb;
}  

.bg-amarillo{
    background-color: #EAC926;
    position: fixed;
    top: 0;
    width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.logo img {
    max-width: 100%;
height: auto;
    padding: 20px;
    margin-right: 0;
    animation: aumentar 1s ease infinite alternate;
}

@keyframes aumentar{

0%{
    transform: scale(1);
}

100%{
    transform: scale(0.97);
}

}


.c {
padding: 15px;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

img{
    max-width: 100%; 
  height: auto;
}


.img-productos{
    max-width: 100%; 
    height: auto;
    text-align: center;
  
}



.menu{
    text-align: center;
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 12px;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu:hover{
    background-color: #0022AA;
}


.menu-a {
    padding: 20px;

}




/*

*/

.busqueda{
display: flex;
justify-content: space-between;
align-items: center;



}



.img-home{
    
    width: 100%; 
    display: block;
}



main{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);

  
}


.productos{
    border-top-style: solid;
  border-top-width: 1px;
  border-color: #ebebeb;
  background-color: white;

  box-shadow: 1px 0px 5px rgba(79, 79, 79, 0.8);
  font-size: 14px;
  padding-left: 5px;
  transition: box-shadow 0.3s;
  

}




  .productos:hover {
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.6);
  
  }





h2{
    text-align: center;
    color: rgb(64, 64, 64);
    width: 90vw;
    font-size: 24px;
    padding-left: 3px;
    
  
    
}





.descuento{
    
    color: #39b54a;
    font-size: 11px;
    
    
    
}


.envios-a{
    color: #39b54a;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 1px;
}
.nombre-producto{
    color: rgb(0, 0, 0);
    padding-left: 5px;
    font-weight: bold; 

}


.articulos{

    border-top: 1px solid #ccc;
}


.logo img{
    max-width: 210px;
    min-width: 210px;
    padding: 20px;
    padding-right: 2px;
    margin-right: 0;
   
}


.cuerpo{
    margin-top: 290px;
}
.formulario{
    padding: 20px;
    text-align: center;
    background-color: #dad9d9;
    padding-top: 100px;
    margin-top: 240px;
}

.control-form{
    margin-bottom: 15px;
width: 100%;
padding-bottom: 30px;
font-size: 20px;


}


.control-form-n{
    width: 220px;
    height: 45px;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);
    border: none; 
outline: none;
border-radius: 8px;
}


.control-form-f{
    width: 220px;
    height: 45px;
    border-radius: 5px;
    border: none; 
outline: none;
border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);

} 

.control-form label{
    margin-bottom: 5px;
    display: block;

    
}

.control-form-bold{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

.control-form-small{
    font-size: 13px;
}

.buttoms{
    background-color: #1259c3;
    color: #dad9d9;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 200px;
    border: none; 
    outline: none;
    border-radius: 8px;
    cursor: pointer;
  transition: background-color 0.3s;
   

}

.buttoms:hover{

background-color: #0022AA;

}

footer{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);
}

.footer-section{
    text-align: center;
}


.footer-section b{

font-size: 22px;


}



.footer-section p{

 font-size: 13px;
margin-left: 30px;
margin-right: 30px
    }




.iconos{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 5px;
    margin-top: 40px;
  transition: color  0.2s;
}

.iconos:hover {
color: #001771;
}

footer{

    padding-bottom: 35px;
}

a:hover {
    text-decoration: underline;

}



.login-style{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;
   
  
   
}
.indication{

  font-size: 20px;
  font-weight: bold;

}

.cajas{
 
 height: 30px;
margin-top: 20px;
margin-bottom: 40px;
border: none; 
outline: none;
border-radius: 8px;

}

.button-login{

    height: 35px;
    background-color: #1259c3;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none; 
    outline: none;
    border: none; 
outline: none;
border-radius: 8px;
cursor: pointer;
  transition: background-color  0.3s;
    

}

.button-login:hover{
    background-color: #0022AA;
}




.barra-busqueda {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   margin-right: 25px;
   width: 150px;
   height: 30px;
  }

  
  .input-busqueda {
    flex: 1;
    border: none;
    padding: 8px;
    width: 120px;
    height: 30px;
  }
  
  .boton-buscar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }






@media (min-width: 536px) {

.nav-bar-b{
  padding-right: 25px;
}

.barra-busqueda{
    width: 155px;
    height: 38px;
    margin-right: 1px;
}
.input-busqueda{
    width: 125px;
    height: 38px;
    margin-right: 1px;
}

.logo{
    width: 260px;
}

    
.busqueda{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 50px;
      
        
        
    
    }

   
.menu{
    display: none;
}


.c{
    font-size:clamp(0.2rem, 2vw, 1.1rem);

    margin-right: 40px;
    

}

.top-barra-busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

}

.busqueda{
    margin-right: 0px;
    padding-right: 0px;
}

.main-navbar{
    list-style: none;
text-decoration: none;
font-size: 10px;
padding: 5px 0;
display: inline-block;
color: #222222;
display: flex;
justify-content:space-between;
margin-right: 15px;



}

.main-navbar ul{
   
    list-style: none;
    display: flex;
}
.main-navbar li{
    list-style: none;
    margin: 0 5px;
    
}
.main-navbar a{
    font-size:clamp(0.2rem, 2vw, 1.1rem);
    
}

.img-productos{
   width: 235px;
   height: 235px;

}

.last-visited{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}
.productos{
    margin-bottom: 10px;
}


h2{
   text-align: left;
   padding-left: 35px;
}
.ofertas h2{
    padding-left: 0;
}


.ofertas{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.search-bar-input{
    width: 175px;
    text-align: center;
} 
.logo img{
    max-width: 100%;
}


.formulario{
    padding: 20px;
    text-align: center;
    background-color: #dad9d9;
    padding-top: 80px;
}

.control-form{
    margin-bottom: 15px;
width: 100%;
padding-bottom: 30px;
font-size: 20px;


}


.control-form-n{
    
    height: 40px;
    min-width: 400px;
    
    text-align: center;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);
}
.control-form-f{
    width: 220px;
    height: 45px;
    border-radius: 5px;
    
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);

} 

.control-form label{
    margin-bottom: 5px;
    display: block;

    
}

.control-form-bold{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

.control-form-small{
    font-size: 13px;
}
.radio-checkbox{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 60px;

}

.buttoms{
    background-color: #1259c3;
    color: #dad9d9;
    box-shadow: 5px 5px 10px rgba(133, 133, 133, 0.3);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 200px;
   

}
footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}


.cajas{
 
    height: 30px;
   margin-top: 20px;
   margin-bottom: 40px;
   margin-left: 90px;
   margin-right: 90px;
   border: none; 
   outline: none; 
   border-radius: 5px;
   
   }
   
   .button-login{
   
       height: 35px;
       background-color: #1259c3;
       color: white;
       border-radius: 8px;
       font-size: 16px;
       margin-left: 110px;
       margin-right: 110px;
       border: none; 
       outline: none;
   
   }


.cuerpo{
    margin-top: 235px;
}









}
  @media (min-width: 1280px) {

.logo{
   width: 425px;
}

.busqueda{
margin-left: 60px;
}

.nav-bar-a{
    margin-left: 60px;

}

.nav-bar-b{
    margin-right: 60px;
}


.main-navbar a{
    font-size:clamp(0.3rem, 2vw, 1.2rem);
    
}


.c{
    margin-right: 110px;
    font-size:clamp(0.4rem, 3vw, 1.3rem);
   
}

.barra-busqueda{
    width: 205px;
    height: 40px;
    margin-right: 1px;
}

.input-busqueda{
    width: 175px;
    height: 40px;
    margin-right: 1px;
}

  }