<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">


</head>
<body class="bg-gris-claro">
   
           
        <header class="bg-amarillo">
        <div class="top-barra-busqueda"> 
        <div class="busqueda"> 
            <h1 class="logo">
            
         
            <img src="logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </h1>
            <div class="search-bar">
                 <input type="text" placeholder="Buscar productos, marcas" class="search-bar-input"> <i class="fa-solid fa-magnifying-glass lupa-search"></i>
            
            </div>
        </div>


            <div class="c">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito </p>
            </div>
        </div>


            <nav class="main-navbar">
                <ul class="nav-bar-a">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayudas</a></li>
                </ul>
                <ul class="nav-bar-b">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-person-walking-luggage"></i></li>
                </ul>
            </nav>


        <div class="menu-a">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
          
        </header>



<div class="cuerpo"> 

        <div class="img-home"> 
            <img src="img-home-banner.jpg" alt="">
            </div>
            <h2>Basado en tu última visita</h2>
        <main>
           
 
                <section class="last-visited">
                    
                    <div class="productos">
                        <img src="img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-productos">
                    <article class="articulos">
                        <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="nombre-producto">Cafetera Moulinex</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src =img-samsung-galaxy-s10.jpg  alt ="Samsung Galaxy S10"  class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src="img-tv-samsung-smart.jpg" alt="Cafetera Moulinex"  class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="nombre-producto">SmartTv Samsung 43"</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src="img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="nombre-producto">MacBook Pro 2019</p>
                    </article>
                    </div>
                  
                   


                </section>
            



                <section class="ofertas">
                    <h2>Sección de Ofertas</h2>
                    <div class="productos">
                        <img src="img-tv-samsung-smart.jpg" alt="Cafetera Moulinex"  class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="nombre-producto">SmartTv Samsung 43"</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src="img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="nombre-producto">MacBook Pro 2019</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src="img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-productos">
                    <article class="articulos">
                        <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="nombre-producto">Cafetera Moulinex</p>
                    </article>
                    </div>
                    <div class="productos">
                        <img src =img-samsung-galaxy-s10.jpg  alt ="Samsung Galaxy S10"  class="img-productos">
                        <article class="articulos"> 
                            <i class="fa-solid fa-truck-arrow-right envios-a"></i>
                        <p>$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </article>
                    </div>
                   
                </section>
        </main>
        
        <br>
        <br>

        <footer>
            <div class="footer-section">
                <i class="fa-solid fa-credit-card iconos"></i>
                <p><b>Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-section">
                <i class="fa-solid fa-gift iconos"></i>
                <p><b>Envío gratis desde $2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-section">
                <i class="fa-solid fa-user-shield iconos"></i>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
      
        </footer>
        <div class="footer-section">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </div>
    </body>
    </html>
    













