<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - registro</title>


    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />


</head>


<body>

    
    <header class="bg-amarillo">
        <div class="top-barra-busqueda"> 
        <div class="busqueda"> 
            <h1 class="logo">
            
         
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </h1>
            <div class="search-bar">
                 <input type="text" placeholder="Buscar productos, marcas" class="search-bar-input"> <i class="fa-solid fa-magnifying-glass lupa-search"></i>
            
            </div>
        </div>


            <div class="c">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito </p>
            </div>
        </div>


            <nav class="main-navbar">
                <ul class="nav-bar-a">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayudas</a></li>
                </ul>
                <ul class="nav-bar-b">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-person-walking-luggage"></i></li>
                </ul>
            </nav>


        <div class="menu-a">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
          
        </header>




        <form action="/home" method="post" class="formulario">
     <div class="control-form"> 
            <label for="nombre-apellido"></label>
            <input class="control-form-n" type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre y Apellido" required>
        </div>

        <div class="control-form">
            <label for="nombre-usuario"></label>
            <input  class="control-form-n" type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Nombre de usuario" required>
        </div>
        <div class="control-form">
            <label for="fecha-nacimiento" class="control-form-bold">Fecha de Nacimiento:</label>
            <input  class="control-form-f" type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
        </div>

        <div class="control-form">
            <label for="domicilio" class="control-form-bold">Domicilio:</label>
            <input class="control-form-f"  type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
        </div>
<div class="radio-checkbox">
        <div class="control-form">
            <label class="control-form-bold">Perfil del usuario:</label>
            <label><input type="radio" name="perfil" value="comprar" required> Comprar</label>
            <label><input type="radio" name="perfil" value="vender" required> Vender</label>
        </div>

        <div class="control-form">
            <label class="control-form-bold">Categorías de interés:</label>
            <label><input class="control-form-small" type="checkbox" name="categorias[]" value="Electro"> Electro</label>
            <label><input class="control-form-small" type="checkbox" name="categorias[]" value="Moda"> Moda</label>
            <label><input class="control-form-small" type="checkbox" name="categorias[]" value="Hogar"> Hogar</label>
            <label><input class="control-form-small" type="checkbox" name="categorias[]" value="Juguetería"> Juguetería</label>
            <label><input class="control-form-small" type="checkbox" name="categorias[]" value="Vida sana"> Vida sana</label>
        </div>
    </div>
        <div class="control-form">
            <label for="foto-usuario" class="control-form-bold">Foto de usuario:</label>
            <input class="control-form-small" type="file" id="foto-usuario" name="foto-usuario" accept="image/*" required>
        </div>

        <div class="control-form">
            <label for="contrasena" class="control-form-bold">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
        </div>

        <div class="control-form">
            <label for="confirmar-contrasena" class="control-form-bold">Confirmar Contraseña:</label>
            <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>
        </div>

        <div class="control-form">
            <div>
              <button class="buttoms" type="submit">Enviar</button>
              <button  class="buttoms"type="reset">Borrar</button>
            </div>



        </form>


        <footer>
            <div class="footer-section">
                <i class="fa-solid fa-credit-card iconos"></i>
                <p><b>Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-section">
                <i class="fa-solid fa-gift iconos"></i>
                <p><b>Envío gratis desde $2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-section">
                <i class="fa-solid fa-user-shield iconos"></i>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
           
        </footer>

        <div class="footer-section">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </div>



</body>
</html>